# Virtual Environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Output files (optional, comment out if you want to version control outputs)
files/

# My file
start2.bat
